@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Rochester&display=swap");

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", "sans-serif";
}
